<h1>Comics#index</h1>
<%@comics.each do |comic|%>
  <h3><%=link_to comic.title, comic%></h3>
  <img src="<%=comic.thumbnail_path%>.<%=comic.thumbnail_extension%>" alt="Comic image" width="100px"/>
<%end%>
<p>Find me in app/views/comics/index.html.erb</p>
