// Place all the styles related to the Heroes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

ul{
  background: #fff;
  box-shadow: 0 0 14px 0 rgba(0,0,0,0.2);
  border-radius: 2px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;

}

.card{
  height: 300px;
}



